<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <%- include('./partials/header') -%>
        <h1>Item Page</h1>
    </header>

    <!-- Create -->
    <!-- The submit button take all of the information entered in the form and bundles all of that into an object to be sent as a request based on the method in the opening tag of the form -->
    <form id="createForm" action="/item" method="POST">
      <!-- The "for" attribute in the label tag connects it to the input field with the id of the same name" -->
        <label for="itemName">Item Name:</label> 
        <input type="text" id="itemName" name="name" placeholder="Item name" required>

        <label for="itemDescription">Item Description:</label>
        <input type="text" id="itemDescription" name="description" placeholder="Item description" required>

        <button type="submit">Create Item</button>
    </form>

    <!-- Update -->
   <form id="updateForm" action="/item/update/" method="POST">
        <input type="hidden" name="_id" id="updateId">
        <label for="updateName">Item Name:</label>
        <input type="text" id="updateName" name="name" placeholder="New item name" required>

        <label for="updateDescription">Item Description:</label>
        <input type="text" id="updateDescription" name="description" placeholder="New item description" required>
        
        <button type="submit">Update Item</button>
    </form>

    <!-- Item List -->
    <ul id="itemList">
        <% items.forEach((item) => { %>
          <li>
            <span><%= item.name %>: <%= item.description %></span>
            <button onclick="editItem('<%= item._id %>', '<%= item.name %>', '<%= item.description %>')">Edit</button>
            <button onclick="deleteItem('<%= item._id %>')">Delete</button>
          </li>
        <% }); %>
      </ul>
      
    <script src="/js/script.js"></script>
</body>
</html>